/* HeroSection.css */
#hero {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden; /* Hide the overflowing content */
  position: relative; /* Add position relative to position absolute child elements */
}

/* Add background color to the sides */
#hero::before,
#hero::after {
  content: '';

  top: 0;
  bottom: 0;

  background-color: #f1f1f1; /* Set the background color */
}

#hero::before {
  left: 0;
}

#hero::after {
  right: 0;
}

.carousel {
  margin: auto;
  overflow: hidden; /* Hide the overflowing content */
  position: relative;
}

.carousel-inner {
  display: flex; /* Set display to flex to allow horizontal arrangement */
  transition: transform 0.5s ease-in-out; /* Add a smooth transition effect for the transform property */
}

.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Add the same transition effect to the images */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-control-prev-icon {
  left: 10px;
}

.carousel-control-next-icon {
  right: 10px;
}

.carousel-item {
  min-width: 100%; /* Ensure each slide takes up the full width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Add a class for sliding animation */
.slide {
  transform: translateX(0); /* Start with no translation */
}

/* Add a class for sliding animation to the active slide */
.slide.active {
  transform: translateX(-100%); /* Translate the active slide to the left by 100% of its width */
}

.carousel-fade {
  transition: opacity 0.5s ease-in-out; /* Add a smooth transition effect for the opacity property */
}


/* CSS for styling the ProjectContainer component */
.project-container {
    animation: fadeIn 1s ease-in-out;
    position: relative;
    overflow: hidden;
    padding: 60px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    color: #1B262C; 
    background-size: cover;
    background-position: center;
  }
  
  .project-container h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
  }
  
  .category-container {
    margin-bottom: 10px;
    position: relative;
  }
  
  .category-title {
    display: none;
  }
  
  .project-cards {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 15px;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
  }
  
  .project-cards::-webkit-scrollbar {
    width: 5px;
  }
  
  .project-cards::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .project-cards::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Ensure the container takes up the full width on smaller screens */
  @media screen and (max-width: 768px) {
    .project-container {
      flex-direction: column;
      align-items: center;
    }
    .project-cards {
      flex-wrap: nowrap;
    }
  }
  
  .project-card {
    flex: 0 0 300px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  
  .nav-button {
    position: absolute;
    bottom: 10px; 
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 80px;
    color: #1B262C;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .left-button {
    left: 10px;
    margin: 10px 50px;
  }
  
  .right-button {
    right: 10px;
    margin: 10px 50px;
  }
  
  body {
    scroll-behavior: smooth;
  }
  
  .navbar{
    --bs-navbar-padding-y: 0rem;
  }
  
  
  
  /* CSS for styling the ProjectCard component */
  .project-card {
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #1B262C; 
  
    width: 400px;
  
    /* Ensure the card takes up the full width on smaller screens */
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  
  .project-content {
    position: relative;
    z-index: 1; /* Ensure the content is on top of the background card */
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    padding: 20px;
  }
  
  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
   color: #1B262C;  /* Adjust text color as needed */
    margin-bottom: 10px;
  }
  
  .project-technologies {
    font-size: 14px;
    color: #1B262C; /* Adjust text color as needed */
    margin-bottom: 10px;
  }
  

  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  
  /* Footer.css */
.footer {
  background-color: #eeeeee;
  color: #1B262C;
  padding: 20px 0;
  margin: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer p::before {
  content: '|';
  margin: 0 10px;
}

.footer p:first-child::before {
  content: none;
}

.footer p:last-child {
  margin-top: 10px; 
}


  
  
  
  
  
  /* styles.css (or your preferred stylesheet) */

.semester-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  /* Additional styling, you can customize this further */
  background-color: #fff;
  text-align: center;
  margin: 16px;
}

.semester-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.semester-card h3 {
  color: #333;
}

.semester-card p {
  color: #666;
}

.semester-card a {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #1B262C;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.semester-card a:hover {
  background-color: #ffffff;
  color: #1B262C;
}




/* Add this to your CSS file or use inline styles */

.syllabus-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h2 {
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}




/* Add this to your CSS file or use inline styles */

.syllabus-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.syllabus-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.syllabus-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* accordion.css */
.accordion {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  padding: 10px;
}


