/* HeroSection.css */
#hero {
    width: 80%;
    margin: auto;
    margin-top: 40px;

  }
  
  .carousel {
    margin: auto;
  }
  
  .carousel-inner {
    height: 500px; 
    overflow: hidden;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: rgba(0, 0, 0, 0.5);
  }
  


/* CSS for styling the ProjectContainer component */
.project-container {
    animation: fadeIn 1s ease-in-out;
    position: relative;
    overflow: hidden;
    padding: 60px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
    color: #000; 
    background-size: cover;
    background-position: center;
  }
  
  .project-container h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
  }
  
  .category-container {
    margin-bottom: 10px;
    position: relative;
  }
  
  .category-title {
    display: none;
  }
  
  .project-cards {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 15px;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
  }
  
  .project-cards::-webkit-scrollbar {
    width: 5px;
  }
  
  .project-cards::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .project-cards::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Ensure the container takes up the full width on smaller screens */
  @media screen and (max-width: 768px) {
    .project-container {
      flex-direction: column;
      align-items: center;
    }
    .project-cards {
      flex-wrap: nowrap;
    }
  }
  
  .project-card {
    flex: 0 0 300px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  
  .nav-button {
    position: absolute;
    bottom: 10px; 
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 80px;
    color: #25024f;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .left-button {
    left: 10px;
    margin: 10px 50px;
  }
  
  .right-button {
    right: 10px;
    margin: 10px 50px;
  }
  
  body {
    scroll-behavior: smooth;
  }
  
  
  
  
  
  /* CSS for styling the ProjectCard component */
  .project-card {
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #000; 
  
    width: 400px;
  
    /* Ensure the card takes up the full width on smaller screens */
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  
  .project-content {
    position: relative;
    z-index: 1; /* Ensure the content is on top of the background card */
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    padding: 20px;
  }
  
  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
   color: #000;  /* Adjust text color as needed */
    margin-bottom: 10px;
  }
  
  .project-technologies {
    font-size: 14px;
    color: #000; /* Adjust text color as needed */
    margin-bottom: 10px;
  }
  
  .project-link {
    background-color: #ccc; 
    color: #000; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px;
  }
  
  .project-link:hover {
    background-color: #ccc; 
    color: #000; 
    text-decoration: none;
  }
  
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  
  
  